<%= @structured_output %>
<h1>Results</h1>

<dl>
  <dt>Carbs (g)</dt>
  <dt><%= @g_carbs %></dt>

  <dt>Protein (g)</dt>
  <dt><%= @g_protein %></dt>

  <dt>Fat (g)</dt>
  <dt><%= @g_fat %></dt>

  <dt>Calories (kcal)</dt>
  <dt><%= @kcal %></dt>

</dl>
